# The active Spring profile for the inventory-service (e.g., dev, prod)
SPRING_PROFILES_ACTIVE=dev

# The URI of the Git repository for the config-server. In docker-compose, this mounts to the local volume.
SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///etc/config-repo

# The URI where the inventory-service can find the config-server
SPRING_CLOUD_CONFIG_URI=http://config-server:8888
